.sequence {
    color: #DEDEDE;
    border: 1px solid grey;
    background-color: #232323;
    padding: 4px;
    text-align: right;
}

.sequence-name {
    padding: 4px 0;
    text-decoration: underline;
}

.sequence-type {
    font-weight: bold;
}

.close-link {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}
.close-link:hover {
    opacity: 1;
}

.input-max-value {
    width: 40px;
}
